<header>
      <div class="navigation">
        <div class="logo-side">
          <img src="./img/logo.svg" alt="logo image" />
        </div>
        <div class="link-side">
          <ul class="nav">
            <li class="nav-link active">Home</li>
            <li class="nav-link">About</li>
            <li class="nav-link">Skills</li>
            <li class="nav-link">Education</li>
            <li class="nav-link">Work</li>
            <li class="nav-link">Experience</li>
            <li class="nav-link">Contact</li>
          </ul>
        </div>
      </div>
    </header>